<% if f.confirmed == true %>
  <p><%= link_to "Remove Friend", friendship_path(f), method: :delete  %></p>
<% elsif f.confirmed == false %>
  <p>Awaiting Confirmation <%= link_to "Cancel?", friendship_path(f), method: :delete  %></p>
<% else %>
 <p><%= link_to "Add Friend", friendships_path(:id => f.id), method: :post  %></p>
<% end %>