<% if f.confirmed == true %>
  <%= link_to "Remove Friend", friendship_path(f), method: :delete  %>
<% elsif f.confirmed == false %>
  <p>Awaiting Confirmation</p>
<% else %>
  <%= link_to "Add Friend", friendships_path(:id => f.id), method: :post  %>
<% end %>