<% provide(:title, 'Welcome') %>

<br>

 <table style="width:80%">
  <tr>
    <th>Name</th>
    <th>Friend status</th>
  </tr>
  <% @users.each do |friend| %>
    <tr>
      <td align="center" valign="middle"><%=link_to name_helper(friend), user_path(friend)%>
      <br><%= gravatar_for friend %></td>
      <td align="center" valign="middle"><%= render "friend_status", f: friend %></td>
    </tr>
  <% end %>
</table> 
<%= will_paginate %>