<p>Welcome <%= @user.first_name %>!</p>

<p>Thank you for signing up to Odin-book. You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>This email was sent to <%=@email%> because you signed up at <a href="http://odin-book.herokuapp.com">http://odin-book.herokuapp.com</a> . If this wasn't you please ignore this email.

<p>Thanks, the Odin-Book team.</p>